/* transactions.component.scss */
.transaction-table-wrapper {
  padding: 1rem;
}

.full-width-table {
  width: 100%;
}

.income {
  color: green;
  font-weight: 600;
}

.expense {
  color: red;
  font-weight: 600;
}
